/***
    Fonts
***/

@import url('./fonts.css');

/***
    Null style
***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'gilroy';
    font-weight: 500;
    font-size: 16px;
    color: #1a1a1a;
}

.home {
    padding: 0 10px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    padding: 0 10px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.container--header {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    border-bottom: 1px solid #D8D7DB;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__item {
    position: relative;
}

.nav__counter {
    font-size: 11px;
    position: absolute;
    content: '';
    top: -10px;
    right: -10px;
}

.burger__menu {
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    font-family: "road radio";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.burger__icon {
    cursor: pointer;
    width: 30px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger__icon span {
    display: block;
    height: 2px;
    background: black;
    transition: all 0.3s ease;
}

.burger__icon span:first-child {
    width: 100%;
}

.burger__icon span:last-child {
    width: 65%;
}

.burger__icon.burger__close span:first-child {
    width: 100%;
}

.burger__icon.burger__close span:last-child {
    width: 100%;
}

.burger__icon.burger__close span:first-child {
    transform: translateY(2px) rotate(45deg);
}

.burger__icon.burger__close span:last-child {
    transform: translateY(-5px) rotate(-45deg);
}

.burger__content {
    transition: transform .2s ease, opacity .2s ease;
    display: none;
    opacity: 0;
}


.burger__active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    opacity: 1;
}

.burger__content.burger__active {
    display: block;
    transform: translatex(0%);
    opacity: 1;
}

.burger__content.burger__hidden {
    transform: translatex(-100%);
    opacity: 0;
}

.burger__nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 0;
}

.burger__left,
.burger__right {
    width: 50%;
}

.burger__link,
.burger__title {
    font-family: 'gilroy';
    font-weight: 600;
    font-size: 42px;
}

.burger__title {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}

.burger__title span {
    font-family: 'gilroy';
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    content: '';
    right: -10px;
    top: 0;
}

.burger__item:not(:last-child) {
    margin-bottom: 50px;
}

.burger__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stack__list {
    display: flex;
    gap: 25px;
}

.stack__link {
    font-size: 17px;
    color: #818181;
    transition: all .3s;
}

.stack__link:hover {
    color: #000;
}

.burger__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid__title,
.grid__address,
.grid__social,
.grid__call {
    padding: 30px;
}

.grid__title {
    grid-area: 1 / 1 / 2 / 5;
    border: 1px solid #D8D7DB;
    font-family: 'road radio';
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid__address {
    grid-area: 2 / 1 / 3 / 2;
    border-bottom: 1px solid #D8D7DB;
    border-left: 1px solid #D8D7DB;
}

.address__title,
.call__title {
    font-weight: 600;
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 15px;
}

.address__text,
.call__phone {
    font-weight: 500;
    font-size: 18px;
    color: #535354;
    line-height: 1.5;
}


.grid__social {
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 1px solid #D8D7DB;
    border-left: 1px solid #D8D7DB;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.grid__link svg circle,
.grid__link svg path,
.home__link svg circle,
.home__link svg path {
    transition: all .3s;
}

.grid__link:hover,
.home__link:hover {
    svg {
        circle {
            fill: #FDDD0A;
        }

        path {
            fill: #212121;
        }
    }
}

.grid__call {
    grid-area: 2 / 3 / 3 / 5;
    border-bottom: 1px solid #D8D7DB;
    border-left: 1px solid #D8D7DB;
    border-right: 1px solid #D8D7DB;
    display: flex;
    gap: 60px;
}

.home::before {
    content: '';
    width: 600px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: -250px;
    display: block;
    background-image: url('../images/decor/home_dec_1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.home::after {
    content: '';
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -150px;
    display: block;
    background-image: url('../images/decor/home_dec_2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.home__content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 122;
}

.home__subtitle {
    font-family: "road radio";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #818181;
}

.home__title {
    font-family: 'road radio';
    font-weight: 400;
    font-size: 138px;
}

.home__title div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.home__images {
    display: inline-block;
    height: 100%;
    max-height: 100px;
}

.home__wrapper {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__links {
    display: flex;
    gap: 15px;
    align-self: flex-end;
}

.home__scroll,
.home__contact {
    cursor: pointer;
}

.about {
    background-color: #EEEEF0;
    padding: 150px 10px;
}

.title {
    font-family: "road radio";
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 50px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 30px;
    margin-bottom: 30px;
}

.about__subtitle {
    font-family: 'road radio';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.about__text {
    font-size: 17px;
    color: #818181;
    line-height: 1.5;
}

.about__text span {
    display: block;
    margin-bottom: 20px;
}


.about__text:not(:last-child) {
    margin-bottom: 30px;
}

.about__link {
    cursor: pointer;
    text-align: center;
}

.services {
    padding: 150px 10px;
}

.services__subtitle {
    font-weight: 600;
    font-size: 32px;
    color: #1a1a1a;
    margin-bottom: 30px;
    display: block;
}

.services__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}


.services__item {
    cursor: pointer;
    width: 20%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D8D7DB;
}

.services__item img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: all .3s ease;
}

.services__item:hover {
    border: 1px solid #FDDD0A;

    img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


.projects {
    padding: 150px 10px;
}

.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*margin-bottom: 50px;*/
}

.projects__item img {
    object-fit: cover;
}

.projects__item {
    cursor: pointer;
    min-height: 400px;
    width: 49%;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 212, 255, 0) 100%);
}

.projects__item:nth-child(1) {
    background-image: url("../images/marcho.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects__item:nth-child(2) {
    background-image: url("../images/intCrash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects__item:nth-child(3) {
    background-image: url("../images/ABC-business.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects__item:nth-child(4) {
    background-image: url("../images/baloons.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects__item::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.projects__content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

.projects__content span {
    font-family: "road radio";
    display: block;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}

.team__grid {
    height: 74vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team__grid div {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 100%;
    }
}

.team__grid div .team__box {
    height: 35%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.team {
    padding: 150px 10px;
}

.team__text {
    text-align: center;
    font-weight: 600;
    font-size: 64px;
}

.team__text span {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 16px;
}

.contacts {
    padding: 150px 10px;
    background-image: url("../images/contact_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.contacts__form {
    width: 50%;
}

.form__check {
    margin-bottom: 30px;
}

.custom__checkbox {
    position: relative;
    padding-left: 35px;
    width: 30%;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    font-size: 20px;
    font-weight: 600;
}

.custom__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom__checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
}

.custom__checkbox:hover input ~ .checkmark {
    border: 1px solid #000;
}

.custom__checkbox input:checked ~ .checkmark {
    /*background-color: #2196F3;*/
}

.custom__checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom__checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom__checkbox .checkmark:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
}

.form__labels {
    display: block;
    width: 100%;
    margin-bottom: 30px;

    span {
        font-weight: 400;
        color: #818181;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        display: block;
        padding: 10px 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #D8D7DB;
        outline: none;
        font-weight: 500;
        font-size: 24px;
        color: #1a1a1a;
    }

    input::placeholder {
        font-weight: 500;
        font-size: 24px;
        color: #1a1a1a;
    }

    input:focus {
        border-bottom: 1px solid #1a1a1a;
    }
}

.form__btn {
    border: 1px solid #1a1a1a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-family: 'road radio';
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    transition: all .3s;

    svg {
        margin-left: 10px;

        path {
            transition: all .3s;
        }
    }


}

.form__btn:hover {
    background-color: #1a1a1a;
    color: #fff;

    svg {
        path {
            stroke: #fff;
        }
    }
}

.contacts__info {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    height: 100%;
    min-height: 400px;
}

.info__title {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D8D7DB;
    max-height: 100px;
    font-family: 'road radio';
    font-weight: 700;
    font-size: 32px;
    padding: 30px 0;
}

.info__mail,
.contacts__info .home__links {
    border-bottom: 1px solid #D8D7DB;
    border-right: 1px solid #D8D7DB;
}

.contacts__info .home__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.info__mail {
    border-left: 1px solid #D8D7DB;
    padding: 30px;

    h5 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 15px;

    }

    a {
        font-weight: 500;
        color: #818181;
    }
}

.info__wrapper {
    grid-column: 1 / -1;
    gap: 45px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-left: 1px solid #D8D7DB;
    border-bottom: 1px solid #D8D7DB;
    border-right: 1px solid #D8D7DB;
}

.info__address {
    p {
        margin-bottom: 15px;
    }

    p, a {
        font-weight: 500;
        color: #818181;
    }
}

.info__country {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer__policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid #D8D7DB;
    color: #3F3F3F;
    font-size: 15px;
}

.footer__policy a:first-child {
    margin-right: 100px;
}

.footer__anchor {
    a {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 500;
        font-size: 15px;
    }
}

.price {
    padding: 150px 10px;
}

.price__item:not(:last-child) {
    margin-bottom: 30px;
}

.price__wrapper {
    width: 100%;
}

.price__item {
    display: flex;
}

.price__box {
    border: 1px solid #D8D7DB;
    width: 80%;
    padding: 30px;
    display: flex;
    align-items: center;
}

.price__title {
    font-family: 'road radio';
    font-weight: 400;
    font-size: 24px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    position: relative;

    span {
        font-family: 'gilroy';
        font-size: 12px;
        font-weight: 600;
        background-color: #FDDD0A;
        color: #1a1a1a;
        padding: 2px 3px;
        text-transform: uppercase;
        position: absolute;
        right: -35px;
    }
}

.price__cost {
    display: flex;
    align-items: center;
    font-size: 20px;

    img {
        margin-left: 15px;
    }
}

.price__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20%;
    font-family: "road radio";
    font-weight: 400;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #1a1a1a;
    transition: all .3s;
}


.price__btn:hover {
    background-color: #FDDD0A;
}

@media (max-width: 1440px) {
    .price,
    .content,
    .about,
    .services,
    .projects,
    .team,
    .contacts {
        padding: 100px 10px;
    }

    .services__box {
        gap: 18px;
    }

    .burger__nav {
        padding: 40px 0;
    }

    .burger__item:not(:last-child) {
        margin-bottom: 35px;
    }
}

@media (max-width: 1140px) {
    .price,
    .content,
    .about,
    .services,
    .projects,
    .team,
    .contacts {
        padding: 75px 10px;
    }


    .projects__item {
        width: 100%;
    }

    .about__wrapper {
        flex-wrap: wrap;
    }

    .home__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__title {
        font-size: 110px;
    }

    .about__wrapper img {
        width: 100%;
    }

    .services__item {
        width: 40%;
    }

    .team__grid div:nth-child(3) {
        display: none;
    }

    .team__grid div {
        width: 50%;
    }

    .team__grid {
        gap: 25px;
    }

    .custom__checkbox {
        display: block;
    }

    .custom__checkbox:not(:last-child) {
        margin-bottom: 10px;
    }

    .contacts__wrapper {
        gap: 55px;
    }
}

@media (max-width: 768px) {
    .price,
    .content,
    .about,
    .services,
    .projects,
    .team,
    .contacts {
        padding: 50px 10px;
    }

    .nav__item:nth-child(1),
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4) {
        display: none;
    }

    .title {
        font-size: 44px;
    }

    .burger__grid {
        display: none;
    }

    .burger__left {
        text-align: center;
    }

    .home__images {
        max-height: 65px;
    }

    .home__title {
        font-size: 66px;
    }

    .home__scroll {
        display: none;
    }

    .price__box {
        width: 70%;
        padding: 15px;
        justify-content: space-between;
    }

    .price__title {
        margin-right: 25px;

        span {
            display: none;
        }
    }

    .price__btn {
        width: 30%;
    }

    .price__cost img {
        display: none;
    }

    .services__item {
        width: 100%;
    }

    .contacts__info {
        display: none;
    }

    .contacts__form {
        width: 100%;
    }

    .burger__left {
        width: 100%;
    }

    .burger__right {
        display: none;
    }

    #team--div {
        display: none;
    }

    .team__grid div {
        width: 100%;
    }

    .footer__policy a:first-child {
        margin-right: 0;
    }
}